{% extends 'base.html.twig' %}

{% block title %}Snowtricks, Nothing better than fresh powder.{% endblock %}

{% block body %}

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">SnowTricks</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Nothing better than fresh powder.</h2>
                <a class="btn btn-primary arrow-bottom" href="#projects"><i class="fa-solid fa-arrow-down"></i></a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Le snowboard une passion !</h2>
                <p class="text-white-50">
                    Les snowboards et les skis ne sont pas juste des morceaux de bois, d'acier et de fibre de verre. Ce
                    sont des outils d'évasion. Un moyen d'expression personnelle. Une façon de défier ses peurs,
                    repousser ses limites et de partager des expériences incroyables avec ses amis.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- Projects-->


<section class="projects-section bg-light" id="projects">
    <div class="container-fluid">
        <h2 class="text-center mb-4">Liste des tricks</h2>
        {% if app.user %}
        <a class="btn btn-dark mb-5" href="{{ path('app_trick_new')}}"><i class="fa-solid fa-plus"></i> Ajouter une
            figure</a>
        {% endif %}
        <div class="row">
            {% for trick in tricks %}
            <div class="col-xl-2 col-sm-11 mb-4 ">
                <p>{{ trick.name}} </p>
                <a href="{{ path('app_trick_show', {'slug' : trick.slug})}}">

                    {% if trick.images is not empty %}
                        <img src="{{ asset('uploads/' ~ trick.images[0].title ~ '')}}" class="figure-img img-fluid rounded w-100 promote" alt="A generic square placeholder image with rounded corners in a figure.">
                    {% else %}
                        <img src="{{ asset('/images/default.jpg')}}" class="figure-img img-fluid rounded w-100 promote" alt="A generic square placeholder image with rounded corners in a figure.">
                    {% endif %}
                   
                </a>
               
                    {% if app.user %}
                    <div class="d-flex justify-content-between mt-2">
                        <a class="btn btn-dark" href="{{ path('app_trick_edit', {id : trick.id})}}"><i class="fa-solid fa-pen-to-square"></i></a>

                        <form method="post" action="{{ path('app_trick_delete', {'id': trick.id}) }}"
                            onsubmit="return confirm('Etes vous certain de vouloir supprimer cette figure ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                            <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                    
                    {% endif %}
                </p>

                    
            </div>
            {% endfor %}

        </div>
    </div>
    <a class="btn btn-primary arrow-bottom" href="#projects"><i class="fa-solid fa-arrow-up"></i></a>
</section>


{% endblock %}